﻿@model IEnumerable<SmartFarming.Models.Account>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">কর্মকর্তার তালিকা</label>
        <div class="col-md-8">@Html.ActionLink("নতুন যুক্ত করুন", "Create", null, new { @class = "btn btn-sm btn-primary" })</div>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-responsive List-table ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailOrPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gander)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Profession)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>প্রক্রিয়া</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="DelRow_@item.AccountId">
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailOrPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gander)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profession)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @if (item.Image != null)
                            {
                                string base64Image = Convert.ToBase64String(item.Image);
                                string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                                <img src="@Image" width="100" height="100" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("আপডেট", "Edit", new { id = item.AccountId }, new { @class = "btn btn-sm btn-primary" })
                            <a class="btn btn-sm btn-danger delete_link" href="#" onclick="GetDeleteId(@item.AccountId)">ডিলিট</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@Html.Hidden("DeleteId")
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">ফসলের শ্রেণী বা বিভাগ ডিলিট</h4>
            </div>
            <div class="modal-body">
                <h5>আপনি কি নিশ্চিত যে আপনি কর্মকর্তার বর্ণনাটি ডিলিট করতে চান?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">বাতিল</button>
                <input type="button" class="btn btn-danger" value="অনুমোদন" id="btnConfirmDelete" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var GetDeleteId = function (Id) {
            $("#DeleteId").val(Id);
            $("#myModal").modal("show");
        }
        $("#btnConfirmDelete").on("click", function () {
            var deleteId = $("#DeleteId").val();
            $.ajax({
                url: "/Accounts/Delete",
                data: { id: deleteId },
                method: "post",
                success: function (response) {
                    if (response == 1) {
                        $("#myModal").modal("hide");
                        $("#DelRow_" + deleteId).remove();
                    }
                }
            })
        })
    </script>
}
