﻿@model SmartFarming.Models.ViewModels.LoginVm
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>স্মার্ট কৃষি| লগইন পেইজ</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Theme/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Theme/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Theme/plugins/iCheck/square/blue.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page" style="background-image: url('../../Image/_downloadfiles.jpg'); background-size:cover; background-attachment:fixed">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index","Home")"><b>স্মার্ট</b>কৃষি</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">দয়া করে সাইন ইন করুন</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.EmailOrPhone, new { htmlAttributes = new { placeholder = "ইমেইল অথবা ফোন", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailOrPhone, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { placeholder = "পাসওয়ার্ড", type = "password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @*<div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> আমাকে স্মরণ রাখো
                            </label>
                        </div>*@
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">সাইন ইন</button>
                    </div>
                    <!-- /.col -->
                    @if (ViewBag.Message != null)
                    {
                        <div class="col-xs-12">
                            <p class="text-danger"> @ViewBag.Message</p>
                        </div>
                    }
                </div>
            }

            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign in using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign in using
                        Google+
                    </a>
                </div>*@
            <!-- /.social-auth-links -->
            <img src="~/Image/animated-farm-image-0053.gif" /><br />
            <a class="text-danger" href="@Url.Action("Index","Home")">সর্বসাধারণের পাতা</a><br>
            <a href="@Url.Action("Registration","Accounts")" class="text-center">নতুন সদস্য হিসেবে রেজিস্ট্রেশন করুন</a>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Theme/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Theme/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>
