﻿@model SmartFarming.Models.Chat

@{
    ViewBag.Title = "Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-2">
            <div class="col-md-10">
                <div class="form-horizontal">
                    <h4>উত্তরটি প্রদান করুন</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Question)
                    @Html.HiddenFor(model => model.Date)
                    @Html.HiddenFor(model => model.Image)
                    @Html.HiddenFor(model => model.OfficerId)
                    @Html.HiddenFor(model => model.FarmerId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.Question)
                            @*@Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Answer, "উত্তর", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="যুক্ত করুন" class="btn btn-success" />
                            @if (ViewBag.Message != null)
            {
                <div class="col-md-6">
                    <p class="text-danger"> @ViewBag.Message</p>
                </div>
}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("তালিকায় ফিরে চলুন", "QuestionList")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
