﻿@model IEnumerable<SmartFarming.Models.Chat>

@{
    ViewBag.Title = "AnswerListCommon";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@foreach (var item in Model)
{
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">প্রশ্নোত্তর</h3>
        </div>
        <div class="box-body">
            <table>
                <tr>
                    <td>প্রশ্নঃ </td>
                    <td>
                        &nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Question)
                    </td>
                </tr>
                <tr>
                    <td>উত্তরঃ </td>
                    <td>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Answer)</td>
                </tr>
            </table>
        </div>
    </div>
}
    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerId)
                </td>
            </tr>
        }

    </table>*@
