﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<h3 style="color:#fff"> স্মার্ট কৃষি আসলে কি ?</h3>
<p style="color:#fff">
    এটি একটি ওয়েব এবং মোবাইল নিরভর অ্যাপ্লিকেশন । এটি অত্যন্ত তথ্যবহুল একটি অ্যাপ্লিকেশন। বিভিন্ন ধরণের সেবা প্রদান ও যে কোন ধরণের তথ্য কৃষকের নিকট দ্রুত পৌঁছে দেয়ার উদ্দেশেই এই অ্যাপ্লিকেশনটি তৈরি করা হয়েছে।
</p>

<ul>
    <li>

        <p style="color:#fff">
            এই আপ্লিকেশনটিতে ৪ ধরণের ব্যাবহারকারী রয়েছেন,প্রথমত হলেন এডমিন যিনি বিভিন্ন ধরণের তথ্য সংরক্ষণ এবং কৃষক ও কৃষি কর্মকর্তাদের একাউনট রক্ষণাবেক্ষণ করে থাকেন।
        </p>
    </li>

    <li>

        <p style="color:#fff">
            দ্বিতীয়ত কৃষি কর্মকর্তা, তিনি বিভিন্ন ধরণের ফসলের রোগ বালাই শম্পরকে তথ্য সরবরাহ করেন এবং পরামর্শ ও কৃষকের প্রশ্নের উত্তর প্রদান করে থাকেন।
        </p>
    </li>

    <li>

        <p style="color:#fff">
            তৃতীয়ত কৃষক, তিনি যে কোন সোময় যে কোন জায়গা থেকে এই অ্যাপ্লিকেশন এর মাদ্ধমে বিভিন্ন ধনের পরামর্শ , বিভিন্ন প্রশ্নের উত্তর পেয়ে থাকেন। ইচ্ছা করলে তিনি লগইন করে তার নিজের প্রশ্নটিও করতে পারেন এবং সেই প্রশ্নের উত্তর প্রদান করা হলে তিনি সেই উত্তর একটি নির্দিষ্ট পেজ এ গিয়ে দেখে নিতে পারেন।
        </p>
    </li>

    <li>

        <p style="color:#fff">
            চতুরর্থত হলেন সাধারন দর্শক, যারা লগইন ছারাই অ্যাপ্লিকেশনটি পরিদরশনের মাধ্যমে কৃষি সম্পর্কে বিভিন্ন ধরণের তথ্য পেয়ে থাকেন।
        </p>
    </li>
</ul>