﻿@model SmartFarming.Models.CropCategory

@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-2">
            <div class="col-md-10">
                <div class="form-horizontal">
                    <h4>ফসলের শ্রেণী বা বিভাগ আপডেট করুন</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.Label("নাম", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="আপডেট" class="btn btn-success" />
                            @if (ViewBag.Message != null)
                            {
                                <div class="col-md-6">
                                    <p class="text-danger"> @ViewBag.Message</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("তালিকায় ফিরে চলুন", "ListAdmin")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
