﻿@model SmartFarming.Models.Suggestion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-offset-2">
            <div class="col-md-10">
                <div class="form-horizontal">
                    <h4>পরামর্শ আপডেট করুন</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CropCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.CropCategoryId, ViewBag.CropCategoryId as SelectList, "নির্বাচন করুন", htmlAttributes: new { id = "CropCategoryId", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CropCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CropId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.CropId, new SelectList(""), "নির্বাচন করুন", htmlAttributes: new { id = "CropId", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CropId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.AccountId)

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="আপডেট" class="btn btn-success" />
                            @if (ViewBag.Message != null)
                            {
                                <div class="col-md-6">
                                    <p class="text-danger"> @ViewBag.Message</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("তালিকায় ফিরে চলুন", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#CropCategoryId").on("change", function () {
                var CategoryId = $("#CropCategoryId").val();

                $.ajax({
                    url: "/Diseases/GetCropByCategoryId",
                    type: "post",
                    data: { id: CategoryId },
                    success: function (response) {
                        $("#CropId").empty();
                        $.each(response, function (key, value) {
                            $("#CropId").append("<option value='" + value.Id + "'>" + value.Name + "</option>");
                        });
                    }
                });
            });
        });
    </script>

}
