﻿@model IEnumerable<SmartFarming.Models.Suggestion>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-4">পরামর্শের তালিকা</label>
        <div class="col-md-8">@Html.ActionLink("নতুন যুক্ত করুন", "Create", null, new { @class = "btn btn-sm btn-primary" })</div>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-responsive List-table ">
            <thead>
                <tr>
                    <th>
                        ফসলের শ্রেণী বা বিভাগ
                    </th>
                    <th>
                        ফসলের নাম
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>প্রক্রিয়া</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="DelRow_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.CropCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Crop.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @Html.ActionLink("আপডেট", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                            <a class="btn btn-sm btn-danger delete_link" href="#" onclick="GetDeleteId(@item.Id)">ডিলিট</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Hidden("DeleteId")
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">পরামর্শের ডিলিট</h4>
            </div>
            <div class="modal-body">
                <h5>আপনি কি নিশ্চিত যে আপনি পরামর্শটি ডিলিট করতে চান?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">বাতিল</button>
                <input type="button" class="btn btn-danger" value="অনুমোদন" id="btnConfirmDelete" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var GetDeleteId = function (Id) {
            $("#DeleteId").val(Id);
            $("#myModal").modal("show");
        }
        $("#btnConfirmDelete").on("click", function () {
            var deleteId = $("#DeleteId").val();
            $.ajax({
                url: "/Suggestions/Delete",
                data: { id: deleteId },
                method: "post",
                success: function (response) {
                    if (response == 1) {
                        $("#myModal").modal("hide");
                        $("#DelRow_" + deleteId).remove();
                    }
                }
            })
        })
    </script>
}
