﻿@model IEnumerable<SmartFarming.Models.Suggestion>

@{
    ViewBag.Title = "ListFarmer";
    Layout = "~/Views/Shared/_LayoutFarmer.cshtml";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">পরামর্শের তালিকা</label>
        <div class="col-md-10">@Html.ActionLink(" রিফ্রেশ ", "ListFarmer","Suggestions", null, new { @class = "btn btn-sm btn-primary" })</div>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-responsive List-table ">
            <thead>
                <tr>
                    <th>
                        ফসলের শ্রেণী বা বিভাগ
                    </th>
                    <th>
                        ফসলের নাম
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="DelRow_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.CropCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Crop.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
