﻿@model IEnumerable<SmartFarming.Models.Suggestion>

@{
    /**/

    ViewBag.Title = "ListCommon";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@foreach (var item in Model)
{
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">পরামর্শ</h3>
        </div>
        <div class="box-body">
            <table>
                <tr>
                    <td>কৃষি কর্মকর্তার নামঃ </td>
                    <td>&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.Account.Name)</td>
                </tr>
                <tr>
                    <td>ফসলের নামঃ </td>
                    <td>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Crop.Name) </td>
                </tr>
                <tr>
                    <td>বিস্তারিতঃ </td>
                    <td>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            </table>
        </div>
    </div>
}
