﻿@model SmartFarming.Models.Disease

@{
    ViewBag.Title = "DetailsFarmer";
    Layout = "~/Views/Shared/_LayoutFarmer.cshtml";
}

<div>
    <h4>রোগের বিস্তারিত বর্ণনা</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CropCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropCategory.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.CropId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crop.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Symptom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptom)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Management)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Management)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.AfterWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterWork)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (Model.Image != null)
            {
                string base64Image = Convert.ToBase64String(Model.Image);
                string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                <img src="@Image" width="550" height="500" />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("তালিকায় ফিরে চলুন", "ListFarmer")
    @*@Html.ActionLink("ডাউনলোড পিডিএফ", "ExportPdf", "Diseases", new { id = Model.Id }, new { @class = "btn btn-info btn-sm", target = "_blank" })*@
</p>
