﻿@model IEnumerable<SmartFarming.Models.Disease>

@{
    ViewBag.Title = "ListFarmer";
    Layout = "~/Views/Shared/_LayoutFarmer.cshtml";
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">রোগের তালিকা</label>
        <div class="col-md-8">@Html.ActionLink(" রিফ্রেশ ", "ListFarmer", "Diseases", null, new { @class = "btn btn-sm btn-primary" })</div>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped table-responsive List-table ">
            <thead>
                <tr>
                    <th>
                        ফসলের শ্রেণী বা বিভাগ
                    </th>
                    <th>
                        ফসলের নাম
                    </th>
                    <th>
                        রোগের নাম
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>প্রক্রিয়া</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="DelRow_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.CropCategory.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Crop.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.Image != null)
                            {
                                string base64Image = Convert.ToBase64String(item.Image);
                                string Image = string.Format("data:image/gif;base64,{0}", base64Image);
                                <img src="@Image" width="100" height="100" />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("বিস্তারিত", "DetailsFarmer", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
